<html>
<head>
    <script src="../js/Client/angular.min.js"></script>
    <script src="../js/Client/angular-route.js"></script>
    <script src="../js/Server/socket.io.js"></script>
    <!-- Concat & Uglify of client JS files -->
    <script src="../build/js/output.min.js"></script>  
    <!-- Concat & Minify of CSS files  -->
    <link rel="stylesheet" type="text/css" href="../build/css/styles.css"/>
    <title> 
    Biggest Tech Company
    </title> 
</head>
<body class="list-group" ng-app="cedrus" ng-controller="cedrusController as cCtrl">
  	<h1 style="font-size:40;text-align:center;"> CEDRUS CO </h1> 
    <a id="demo1" href="javascript: contact()">Contact Help Desk</a>
   <script>
  var count = 0 ;
  function contact() {
    var socket = io.connect('http://localhost:8000');
    socket.on('messages', function(data) {
    alert(data.automatedReply);
    var helpMessage = prompt("Enter your message", "");
    socket.emit('messages',helpMessage);
    count++;
    });
  }
  </script>
    <h1>
      <a id="demo1" href="#/tweets">Check the TWEETS</a>
      <a id="demo1" href="#/founders">Check out the founders</a>
      <a id="demo1" href="#/me">My Profile</a> 
    </h1>
    <div ng-view></div>

     <!-- <a id="demo1" href="javascript: contact()">Contact Help Desk</a>
    </h1>
<div ng-repeat="founders in cCtrl.founders track by $index" ng-controller="PController as PCtrl">
    <br>
    <section class="tab" >
      <div class="nav nav-pills">
		<h1 style="text-align:left; display:inline;"> Name : {{founders.name}} </h1> <br>
 		    <a id="demo1"  href ng-click="PCtrl.selectTab(1)"> Role  </a> 
        <a id="demo1"  href ng-click="PCtrl.selectTab(2)">  Memory  </a> 
        <a id="demo1" href ng-click="PCtrl.selectTab(3)">  Picture  </a> <br>
        <div ng-show="PCtrl.isSelected(1)">
         <h3 class="left">{{founders.role}}</h3>
        </div>
        <div ng-show="PCtrl.isSelected(2)">
         <ul>
           <h3 class="left">Memories</h3>
             <li ng-repeat="fndrMem in founders.memory track by $index">
               <blockquote>
                 <strong>{{fndrMem.category}} Memory shared @ {{fndrMem.occasion}}</strong><br>
                 {{fndrMem.body}} <br>
                 --{{fndrMem.author}}
               </blockquote>
              </li>
            </ul>
            <h4 class="left">Add a Memory</h4>
             <form name="memoryForm" ng-submit="memoryForm.$valid && cCtrl.addMemory($index)" novalidate>
                <blockquote>
                 <strong>{{cCtrl.foundersMe.category}} Memory shared @ {{cCtrl.foundersMe.occasion}}</strong><br>
                 {{cCtrl.foundersMe.body}} <br>
                 --{{cCtrl.foundersMe.author}}
               </blockquote>
               
              <fieldset class="form-group">
                <select ng-model="cCtrl.foundersMe.category" class="form-control" ng-options="category for category in ['Fun','Work','Hope we meet up soon']" title="Category">
                  <option value="">Specify the 'Category' of the Memory</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="cCtrl.foundersMe.occasion" class="form-control" placeholder="Specify the Occasion" title="Occasion" required/>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="cCtrl.foundersMe.body" class="form-control" placeholder="What happened ?!" title="Body" required/>
              </fieldset>
                <fieldset class="form-group">
                <input ng-model="cCtrl.foundersMe.author" class="form-control" placeholder="Enter your name" title="Author" required/>
              </fieldset>
              <fieldset class="form-group">
                <input style="align:left;" type="submit" class="btn btn-primary pull-left" value="Submit Memory" required/>
              </fieldset>
             </form>
        </div>
        <div ng-show="PCtrl.isSelected(3)">
          <br><img ng-src="{{founders.cover}}"> 
        </div>
      </div>
	</section>
    <hr>
    </div>
<script>
  var count = 0 ;
  function contact() {
    var socket = io.connect('http://localhost:8000');
    socket.on('messages', function(data) {
    alert(data.automatedReply);
    var helpMessage = prompt("Enter your message", "");
    socket.emit('messages',helpMessage);
    count++;
    });
  }
</script> -->
</body>
</html>