<html>
<head>
    <script src="../js/Client/angular.min.js"></script>
    <script src="../js/Client/angular-route.js"></script>
    <script src="../js/Server/socket.io.js"></script>
    <!-- Concat & Uglify of client JS files -->
    <script src="../build/js/output.min.js"></script>  
    <!-- Concat & Minify of CSS files  -->
    <link rel="stylesheet" type="text/css" href="../build/css/styles.css"/>
    <title> 
    Biggest Tech Company
    </title> 
</head>
<body>
<h1 style="font-size:40;text-align:center;"> Details about myself will be added soon. </h1> 
<script>
</script>
</body>
</html>