<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
    <script src="../js/app.js"> </script>
    <script src="../js/routes.js"> </script>
    <script src="../js/angular-route.js"> </script>
    <script src="../js/socket.io.js"> </script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <title> 
    Biggest Tech Company
    </title> 
</head>
<body>
<br>
<input ng-model="cCtrl.twitterAccnt" style="text-align: center" class="form-control" placeholder="Enter the name of the account you would like to get the tweets of " title="Occasion" required/> 
<h1> <button class="btn btn-primary" ng-click="cCtrl.getMeTweetsOf()"> Submit </button></h1>
<div ng-show = "cCtrl.condition">
<!--- Use NG-TABLE -->
<h1 style="font-size:40;text-align:left;" ng-repeat="post in cCtrl.twts track by $index">
    <ul type="1">
        <li>{{$index+1}} {{post}}</li>      
    </ul> 
</h1> 
</div>
<script>
</script>
</body>
</html>